/*STYLE*/
@import '../public/css/import/fonts.css';
@import '../public/css/import/global.css';
@import '../public/css/import/list_post.css';
@import '../public/css/import/list_product.css';
@import '../public/css/import/add_cat.css';
@import '../public/css/import/add_admin.css';
@import '../public/css/import/update_admin.css';
@import '../public/css/import/info_account.css';
@import '../public/css/import/change_pass.css';
@import '../public/css/import/sidebar.css';
@import '../public/css/import/menu.css';
@import '../public/css/import/detail_order.css';
.error, .num-rows{
    color: red;
    font-style: italic;
}
/* 
color status 
*/
.text-primary{
    color: blue;
}
.text-success{
    color: green;
}
.text-danger{
    color: red;
}
#detail-page .section-detail  #num_order, #code{ cursor: not-allowed; background: #f3f3f3;}
